library/
local/
cellar/
lock/
python/
staging/
.Rproj.user
.Rhistory
.RData
.Ruserdata

data-raw/niis
data-raw/task_fMRI
data-raw/*nii*
data-raw/*.jar
data-raw/task_fMRI
data-raw/T1
_ale/objects

.ipynb_checkpoints

*_cache
*_files
*html
*qs
*svg
analyses/ohbm2022/bloomberg
!analyses/ohbm2022/bloomberg/shield/SVG/bloomberg.shield.white.svg
!analyses/ohbm2022/qrcode.svg
*parquet
*nii.gz
*png
*csv
*xlsx
_hcp.bak
_hcp.bak1


data-raw/Parcellation
data-raw/1000subjects_reference
data-raw/hcp

